* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffff;
  background-image: url(netflix-background-image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  /* border: 2px solid red; */
  max-width: 1240px;
  height: 1036px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 30px;
}
.titel {
  font-family: "Bowlby One SC", cursive;
  font-size: 3.1rem;
}
span {
  color: red;
}
#header {
  text-align: center;
}
#description {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.5rem;
}
#survey-form-container {
  /* border: 2px solid red; */
  width: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 40px;
}
#name,
#age,
#email,
#feedback,
#dropdown {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
textarea {
  resize: none;
}
.input-box {
  /* border: 2px solid red; */
  margin-top: 10px;
}
#checkbox,
#radio {
  /* border: 1px solid red; */
  margin-top: 40px;
}
#form-button {
  width: 160px;
  height: 45px;
  color: #ffff;
  border: none;
  border-radius: 50px;
  text-align: center;
  background-color: red;
}
#form-button:hover {
}
